@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eeeeee;
  padding: 8px
}


.header li {
  background: #ffffff;
}

.footer li {
  background: #eeeeee;
}

a {
  font-size: 14px;
  /* background: white; */
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  color:#999999;
}

ul {
  display: flex;
  /* this removes the dots on the list items*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.content {
  /* Add first two lines */
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px
}